{% extends '@SheikhuLibrary/layout.html.twig' %}

{% block content -%}
    {% embed '@SheikhuLibrary/Embed/grid.html.twig' with { size: 4} %}
    {% block title %}Membre creation {% endblock %}

    {% block grid_content %}
    {{ form_start(form) }}
    <div class="mws-form-inline">
        {{ macros.render_form(form, ['submit']) }}
    </div>

    <div class="mws-button-row">
        {{ form_widget(form.submit, {attr: {class: 'btn btn-success'}}) }}
        {{ macros.btn_link_to('Retour à la liste', 'livres', {}, {'class': 'btn btn-info'}) }}
    </div>


    {% endblock %}

    {% endembed %}
{% endblock %}
